<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"
		/>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<script src="https://at.alicdn.com/t/font_1635990_91gw2siorct.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/react/16.13.1/umd/react.development.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/react-dom/16.13.1/umd/react-dom.development.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/Swiper/5.3.8/js/swiper.min.js"></script>
		<link
			href="https://cdn.bootcdn.net/ajax/libs/Swiper/5.3.8/css/swiper.min.css"
			rel="stylesheet"
		/>
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>
