.session {
	padding: 40px 30px;
	margin-bottom: 20px;

	& > h2 {
		margin: 0;
		font-size: 36px;
		color: var(--black-deep);
	}

	& > .xqName {
		margin-top: -10px;
	}
}

.bgcolor {
	background-color: #fff;
}

.tag_warp {
	margin: 30px 0 40px;
}

.activeInfo {
	margin: 0 -30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	& > div:nth-child(2) {
		border-left: 1px solid var(--borderColor);
		border-right: 1px solid var(--borderColor);
	}

	& > div {
		height: 60px;
		display: flex;
		flex-direction: column;
		align-items: center;

		& > span:first-child {
			font-size: 32px;
			color: var(--attentionColor);
			font-weight: 700;
		}

		& > span:last-child {
			display: inline-block;
			margin-top: 20px;
			font-size: 24px;
			color: var(--black-light);
		}
	}
}

.session_hr {
	margin: 50px 0 40px;
	border: none;
	border-bottom: 0.5px solid var(--borderColor);
}

.time_and_address {
	font-size: 28px;

	& > div {
		display: flex;
		align-items: flex-start;

		& > span {
			color: var(--black-light);
			display: inline-block;
			margin-right: 30px;
		}

		& > p {
			flex: 1;
			margin: 0;
			color: var(--black-deep);
			line-height: 1.6;
			&::first-line {
				line-height: 1;
			}
		}
	}

	& > div:last-child {
		margin-top: 30px;
	}
}
.tab_selet {
	background-color: white;
	padding: 0 30px;
	border-bottom: 0.5px solid var(--borderColor);
	position: sticky;
	top: 0;
	& > ul {
		display: flex;
		justify-content: space-between;
	}
}
.tab_selet_item {
	display: inline-block;
	line-height: 1;
	padding: 30px;
	font-size: 28px;
	& > span {
		position: relative;
	}
	& > .tab_selet_active {
		color: var(--primaryColor);
		font-weight: bold;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: -24px;
			width: 100%;
			height: 6px;
			border-radius: 3px;
			background-color: currentColor;
		}
	}
}
.preferential_policy {
	font-size: 28px;
	line-height: 1.6;
}
.features {
	& > h3 {
		font-size: 32px;
		margin: 40px 0 30px;
	}

	& > h3::before {
		content: "";
		display: inline-block;
		width: 6px;
		height: 24px;
		border-radius: 3px;
		/* background-color: #f4f5f7; */
		background-color: red;
		margin-right: 16px;
	}

	& > p {
		margin: 0;
		font-size: 28px;
		color: var(--black-deep);
		line-height: 1.6;
	}

	& > p::first-line {
		line-height: normal;
	}
}
.hx_warp {
	/* 如果设置为scroll 内容也会垂直滚动 */
	margin-top: 40px;
	overflow-x: auto;
	&::-webkit-scrollbar {
		display: none;
	}
	& > ul {
		white-space: nowrap;
		/* 消除幽灵空白节点 */
		font-size: 0;
	}
}
.hx_item {
	display: inline-block;
	margin-right: 24px;
	&:last-child {
		margin-right: 0;
	}
}
.hx_figure {
	margin: 0;
	& > img {
		width: 280px;
		height: 280px;
		border-radius: 8px;
		border: 0.5px solid var(--borderColor);
	}
}
.hx_figcaption {
	margin-top: 8px;
	display: flex;
	justify-content: space-between;
	color: var(--black-deep);
	font-size: 24px;
}
.trends_list {
	margin-top: 40px;
}
.info_list {
	margin-top: 40px;
	font-size: 28px;

	& > li {
		display: flex;
		align-content: flex-start;
		margin-bottom: 32px;

		& > span:first-child {
			color: var(--black-light);
			display: inline-block;
			width: 4em;
			margin-right: 30px;
		}

		& > span::last-child {
			color: var(--black-deep);
			flex: 1;
		}
	}
}

.more_info {
	height: 80px;
	border-radius: 8px;
	line-height: 80px;
	font-size: 28px;
	color: var(--primaryColor);
	text-align: center;
	box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.15);
}

.map_warp {
	height: 384px;
	margin-top: 40px;
	border-radius: 8px;
	border: 0.5px solid var(--borderColor);
	overflow: hidden;

	& > ul {
		height: 88px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		& > li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			color: var(--black-light);
			& > svg {
				font-size: 36px;
				margin-bottom: 4px;
			}
		}
	}

	& > div {
		height: 296px;
		background-color: red;
	}
}

.shareUser_info {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
	display: flex;

	& > div {
		height: 98px;
		line-height: 98px;
	}
}

.shareUser_name {
	flex: 1;
	border-top: 0.5px solid var(--borderColor);
	padding-left: 30px;
	display: flex;
	align-items: center;
	& > img {
		width: 78px;
		height: 78px;
		object-fit: contain;
		border-radius: 50%;
		margin-right: 20px;
	}

	& > span {
		font-size: 28px;
		font-weight: bold;
		color: var(--black-deep);
	}
}

.shareUser_tel {
	width: 456px;
	background-color: var(--primaryColor);
	border-top: 0.5px solid var(--primaryColor);
	color: #ffffff;
	font-size: 32px;
	text-align: center;
	& > a {
		color: #ffffff;
		text-decoration: none;
		& > svg {
			font-size: 36px;
			color: #ffffff;
			margin-left: 18px;
		}

		& > span {
			padding-left: 18px;
		}
	}
}

.end_section {
	margin-bottom: 98px;
}
