.map_warp {
	height: 384px;
	margin-top: 40px;
	border-radius: 8px;
	border: 0.5px solid var(--borderColor);
	overflow: hidden;

	& > ul {
		height: 88px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		& > li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 20px;

			& > svg {
				font-size: 36px;
				margin-bottom: 4px;
			}
		}
	}

	& > div {
		height: 296px;
		background-color: red;
	}
}
