.map_page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
.map_warp {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	& > ul {
		height: 88px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-top: 1px solid var(--borderColor);
		& > li {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 20px;
			color: var(--black-light);
			& > svg {
				font-size: 36px;
				margin-bottom: 4px;
			}
		}
		& > .search_active {
			color: var(--primaryColor);
		}
	}

	& > div {
		flex: 1;
	}
}
