/**
* css 变量 在 :root 中定义变量 在选择器中使用var() 使用变量
*
**/

:root {
	--primaryColor: #4184e7;
	--fullWidth: 750px;
	--borderColor: #EEEEEE;
	--black-light: #999999;
}

#root {
	background-color: var(--primaryColor);
}