/**
* css 变量 在 :root 中定义变量 在选择器中使用var() 使用变量
*
**/

:root {
	--primaryColor: #4184e7;
	--fullWidth: 750px;
	--borderColor: #eeeeee;
	--black-light: #999999;
	--black-ordinary: #666666;
	--black-deep: #333333;
	--attentionColor: #ff5236;
}

:global(html) {
	line-height: 1;
}
:global(#root) {
	background-color: #f4f5f7;
}
:global(ul) {
	margin: 0;
	padding: 0;
	list-style: none;
}
:global(.icon) {
	width: 1em;
	height: 1em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
}
