.navBar_warp {
	height: 88px;
	overflow: hidden;
}
.navBar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 88px;
	background-color: #ffffff;
	border-bottom: 0.5px solid var(--borderColor);
	& > span {
		width: 36px;
		height: 36px;
		& > svg {
			font-size: 36px;
		}
	}
	& > div {
		flex: 1;
		font-size: 36px;
		font-weight: 700;
		color: var(--black-deep);
		text-align: center;
	}
}
